$color: #ff5500;
@mixin bg {
  background-image: url(../img/h1_hero.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 70px;
}

.nav {
  &__logo {
    width: 75px;
    height: auto;
  }
}
.main {
  &__slick {
    max-width: 95%;
    width: 700px;
  }
  &__bg {
    @include bg;
  }
}

.menu {
  &__card {
    width: 300px;
    margin: 10px;
  }
  &__title {
    margin-bottom: 0;
    text-transform: capitalize;
  }
  &__body {
    @include bg;
  }
}
.card-img-top {
  height: 30vh;
  object-fit: cover;
}
